{% extends 'core/base.html' %}
{% load templatehelpers %}

{% block title %}
    휴가 수정
{% endblock %}

{% block content %}
    {{ form.media }}
    <form action="" method="post">{% csrf_token %}
        <div class="form-group" style="display: none">
            <label for="id_cat"></label>
            <input id="id_cat" type="text" name="cat" value={{ form.instance.cat }}>
        </div>
        {% if form.instance.cat == "1" %}
            <div class="d-flex flex-wrap mb-3">
                <input id="day_off_start_at" type="date" value="{{ form.instance.start_at | date_format }}" name="day_off_start_at" class="form-control w-25">
                <label for="day_off_start_at" class="my-auto mx-1">부터</label>
                <input id="day_off_end_at" type="date" value="{{ form.instance.end_at |date_format }}" name="day_off_end_at" class="form-control w-25">
                <label for="day_off_end_at" class="my-auto mx-1">까지</label>
            </div>
        {% elif form.instance.cat == "5" %}
            <div class="d-flex flex-wrap mb-3">
                <input id="comp_day_off_start_at" type="date" value="{{ form.instance.start_at | date_format }}" name="comp_day_off_start_at" class="form-control w-25">
                <label for="comp_day_off_start_at" class="my-auto mx-1">부터</label>
                <input id="comp_day_off_end_at" type="date" value="{{ form.instance.end_at |date_format }}" name="comp_day_off_end_at" class="form-control w-25">
                <label for="comp_day_off_end_at" class="my-auto mx-1">까지</label>
            </div>
        {% elif form.instance.cat == "3" %}
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="halfDayOffDateTimePicker" data-target-input="nearest">
                                <input id="half_day_off_start_at" data-target="#halfDayOffDateTimePicker" type="text" name="half_day_off_start_at"
                                       class="form-control w-25">
                                <label for="half_day_off_start_at" class="my-auto mx-1"></label>
                                <span class="input-group-addon" style="margin-left: 0">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% elif form.instance.cat == "4" %}
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="oneFourthDayOffDateTimePicker" data-target-input="nearest">
                                <input id="one_fourth_day_off_start_at" data-target="#oneFourthDayOffDateTimePicker" type="text" name="one_fourth_day_off_start_at"
                                       class="form-control w-25">
                                <label for="one_fourth_day_off_start_at" class="my-auto mx-1"></label>
                                <span class="input-group-addon" style="margin-left: 0">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <button type="submit">제출</button>
    </form>
    <script>
        let startAt = '{{ form.instance.start_at|date:"Y-m-d" }} {{ vacation.start_at|time:"P" }}';
        $(function () {
            $('#oneFourthDayOffDateTimePicker').datetimepicker({
                inline: true,
                sideBySide: true,
                stepping: 10,
                daysOfWeekDisabled: [0, 6],
                defaultDate: startAt
            });
        });
        $(function () {
            $('#halfDayOffDateTimePicker').datetimepicker({
                inline: true,
                sideBySide: true,
                stepping: 10,
                daysOfWeekDisabled: [0, 6],
                defaultDate: startAt
            });
        });
    </script>
{% endblock %}